listen_address: 0.0.0.0:29331
appservices:
  - id: "{{ matrix_mautrix_wsproxy_apservice_id }}"
    as: "{{ matrix_mautrix_wsproxy_appservice_token }}"
    hs: "{{ matrix_mautrix_wsproxy_homeserver_token }}"